{% extends 'base.html' %}


{% block blockbody %}

    <h2>Novedades</h2>

    {% if user.is_superuser %}
    <a class="btn-dark" href="{% url 'novedadForm' %}">Nueva Publicacion</a>
        
    {% endif %}
        

    <ul>
            
            {% for novedad in lista_novedades %}
               
                <li>
                    <ul>{{novedad.titulo}} - {{novedad.descripcion}}</ul>
                    <ul>{{novedad.date}}</ul>
                    <ul>admin: {{novedad.usuario}}</ul>
                </li>
           
                {% if user.is_superuser %}
                        
                    <div>
                        <form action="{% url 'eliminaNovedad' novedad.id %}" method="post"> {% csrf_token %}
                            <button type="submit">Eliminar</button>
                        </form>
                    </div>
                
                {% endif %}
           
           
            {% endfor %}
                
    </ul>

{% endblock blockbody %}