{% extends 'base.html' %}


{% block blockbody %}

    <h2>Posts de clientes</h2>

    {% if user.is_authenticated %}
    <a class="btn-dark" href="{% url 'postForm' %}">Nuevo Post</a>
        
    {% endif %}
        

    <ul>
            
            {% for post in lista_posts %}
                
                <li>
                    <ul>{{post.usuario}}</ul>
                    <ul>{{post.titulo}} - {{post.descripcion}}</ul>
                    <ul>{{post.date}}</ul>
                </li>
                {% if user.is_superuser %}
                        
                    <div>
                        <form action="{% url 'eliminaPost' post.id %}" method="post"> {% csrf_token %}
                            <button type="submit">Eliminar</button>
                        </form>
                    </div>
                
                {% endif %}

            {% endfor %}
                
    </ul>

{% endblock blockbody %}