{% extends 'base.html' %}


{% block blockbody %}

    <h2>Posts de Usuario</h2>

    {% if user.is_authenticated %}
    <a class="btn-dark" href="{% url 'postForm' %}">Nuevo Post</a>
        
    {% endif %}
        

    <ul>
            
            {% for post in lista_posts %}
                <li>Usuario: {{post.usuario}} - fecha: {{post.date}} - Comentario: {{post.descripcion}}</li>
                
                
                {% if user.is_superuser %}
                        
                    <div>
                        <form action="{% url 'eliminaPost' post.id %}" method="post"> {% csrf_token %}
                            <button type="submit">Eliminar</button>
                        </form>
                    </div>
                
                {% endif %}

            {% endfor %}
                
    </ul>

{% endblock blockbody %}